*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Axiforma-Regular';
	font-size: 16px;
	overflow-x: hidden;
	margin: 0;
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.main-map {
	width: 100%;
	height: 800px;
	position: relative;
	right: 0;
	transition: all 0.3s;
}
.main-map.active {
	right: 300px;
}
.popup-map {
	width: 268px;
background: #FFFFFF;
padding: 20px;
    box-sizing: border-box;
color: #313131;
box-shadow: 6px 4px 30px rgba(0, 0, 0, 0.17);
}
.popup-map__title {
	font-size: 16px;
line-height: 18px;
padding-bottom: 10px;
color: #65BBE9;
font-family: 'Axiforma-bold';
}
.contact-phone {
	display: inline-block;
	position: relative;
	font-size: 14px;
line-height: 22px;
padding-left: 30px;
color: #313131;
}
.contact-phone::before {
	position: absolute;
	display: block;
	content: " ";
	width: 20px;
	height: 20px;
	background-image: url(../img/ic_phone.svg);
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.popup-map__name {
	font-size: 14px;
line-height: 23px;
padding-top: 13px;
padding-bottom: 5px;
font-family: 'Axiforma-bold';
}
.popup-schedule__line {
	font-size: 12px;
line-height: 19px;
text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.popup-schedule {
	max-width: 125px;
	margin-left: 30px;
}
.contact-location {
	font-size: 12px;
line-height: 19px;
	position: relative;
	padding-left: 30px;
}
.contact-location::before {
	position: absolute;
	display: block;
	content: " ";
	width: 15px;
	height: 20px;
	background-image: url(../img/ic_location.svg);
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.button-main {
	font-size: 14px;
line-height: 23px;
	display: inline-block;
	padding: 9px 30px;
	background-color: #65BBE9;
border-radius: 32px;
	font-family: 'Axiforma-bold';
	text-align: center;
	transition: all 0.3s;
	color: #fff;
}
.button-main:hover {
	background-color: #4da3d1;
}
.popup-map .button-main {
	margin-top: 20px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.ymaps-2-1-77-balloon__close+.ymaps-2-1-77-balloon__content {
	margin: 0 !important;
	padding: 0 !important;
}
.main-map [class*="ymaps-2"][class*="-ground-pane"] {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	/* Firefox 3.5+ */
	-webkit-filter: grayscale(100%);
	/* Chrome 19+ & Safari 6+ */
}
.contact-page {
	position: relative;
}
.modal-map {
	width: 50%;
	height: 100%;
	background-color: #fff;
	right: 0;
	top: 0;
	position: absolute;
	z-index: 10;
}
.modal-map__content {
	padding-top: 22px;
	padding-left: 30px;
	max-width: 730px;
}
.modal-map__head {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.modal-map__title {
	font-size: 42px;
line-height: 52px;
font-family: 'Axiforma-bold';
color: #65BBE9;
}
.contact-payment {
	position: relative;
	padding-left: 30px;
}
.contact-payment::before {
	position: absolute;
	display: block;
	content: " ";
	width: 20px;
	height: 20px;
	background-image: url(../img/ic_payment.svg);
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.modal-map .contact-payment,
.modal-map .contact-phone,
.modal-map .contact-location {
	margin-bottom: 10px;
	font-size: 18px;
line-height: 29px;
}
.modal-map__head .button-main {
font-size: 16px;
line-height: 26px;
padding: 17px 35px;
white-space: nowrap;
}
.modal-map__name {
	font-size: 24px;
line-height: 52px;
margin-top: 30px;
margin-bottom: 20px;
color: #65BBE9;
font-family: 'Axiforma-bold';
}
.table-schedule table {
	width: 100%;
	border-spacing: 0;
}
.table-schedule table td {
	padding: 10px 0;
	padding-left: 40px;
}
.table-schedule table td:nth-child(2) {
	width: 270px;
}
.table-schedule table tr:nth-child(odd) td {
	background-color: #F1FCFF;
}
.table-schedule__name {
	font-size: 18px;
line-height: 29px;
color: #65BBE9;
}
.table-schedule__time {
	font-size: 16px;
line-height: 25px;
padding-left: 40px;
position: relative;
}
.table-schedule__time::before {
	position: absolute;
	display: block;
	content: " ";
	width: 20px;
	height: 20px;
	background-image: url(../img/ic_time.svg);
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	top: -2px;
	bottom: 0;
	margin: auto;
}
.modal-map {
	display: none;
}